USE [master]
GO
/****** Object:  Database [PersonalKnowledgeDB]    Script Date: 15.05.2026 18:59:54 ******/
CREATE DATABASE [PersonalKnowledgeDB]
 
USE [PersonalKnowledgeDB]
GO
/****** Object:  Table [dbo].[Entities]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entities](
	[EntityID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityValue] [nvarchar](1000) NOT NULL,
	[PositionStart] [int] NULL,
	[PositionEnd] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[LinkID] [int] IDENTITY(1,1) NOT NULL,
	[SourceNoteID] [int] NOT NULL,
	[TargetNoteID] [int] NOT NULL,
	[LinkType] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](400) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ParentNoteID] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[ReminderDate] [datetime2](7) NULL,
	[IsReminderCompleted] [bit] NOT NULL,
	[ReminderNote] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteTags]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteTags](
	[NoteID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_NoteTags] PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[NoteID] [int] NOT NULL,
	[ReminderDate] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NULL,
	[NotifiedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.05.2026 18:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Role] [nvarchar](20) NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC21916076] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Entities] ON 

INSERT [dbo].[Entities] ([EntityID], [NoteID], [EntityType], [EntityValue], [PositionStart], [PositionEnd]) VALUES (1, 7, N'email', N'alexey@example.com', 10, 28)
INSERT [dbo].[Entities] ([EntityID], [NoteID], [EntityType], [EntityValue], [PositionStart], [PositionEnd]) VALUES (2, 7, N'phone', N'+7 123 456-78-90', 40, 58)
INSERT [dbo].[Entities] ([EntityID], [NoteID], [EntityType], [EntityValue], [PositionStart], [PositionEnd]) VALUES (3, 7, N'email', N'maria@example.com', 70, 88)
SET IDENTITY_INSERT [dbo].[Entities] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([FileID], [NoteID], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (1, 3, N'ТЗ_диплом.pdf', N'C:\KnowledgeApp\Attachments\ТЗ_диплом.pdf', N'pdf', 204800, CAST(N'2026-05-14T11:43:56.4370000' AS DateTime2))
INSERT [dbo].[Files] ([FileID], [NoteID], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (5, 1, N'labubu.png', N'E:\SHARE\ДИПЛОМ 2026\NonNik\MindKeeper\MindKeeper\bin\Debug\Attachments\labubu.png', N'png', 10220, CAST(N'2026-05-15T09:54:51.9653836' AS DateTime2))
INSERT [dbo].[Files] ([FileID], [NoteID], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (7, 1, N'warehouse_db - public.png', N'E:\SHARE\ДИПЛОМ 2026\NonNik\MindKeeper\MindKeeper\bin\Debug\Attachments\warehouse_db - public.png', N'png', 24644, CAST(N'2026-05-15T09:56:12.7171042' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[Links] ON 

INSERT [dbo].[Links] ([LinkID], [SourceNoteID], [TargetNoteID], [LinkType]) VALUES (2, 5, 2, N'auto')
INSERT [dbo].[Links] ([LinkID], [SourceNoteID], [TargetNoteID], [LinkType]) VALUES (8, 29, 19, N'auto')
INSERT [dbo].[Links] ([LinkID], [SourceNoteID], [TargetNoteID], [LinkType]) VALUES (10, 28, 19, N'auto')
SET IDENTITY_INSERT [dbo].[Links] OFF
GO
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([NoteID], [UserID], [Title], [Content], [ParentNoteID], [CreatedAt], [UpdatedAt], [IsDeleted], [ReminderDate], [IsReminderCompleted], [ReminderNote]) VALUES (1, 1, N'План проекта диплома', N'Нужно разработать WPF-приложение для управления знаниями. Основные этапы: проектирование БД, разработка GUI, интеграция ИИ для конспектирования. [[Цель]]', NULL, CAST(N'2025-02-01T09:00:00.0000000' AS DateTime2), CAST(N'2026-05-15T18:56:28.7613344' AS DateTime2), 0, NULL, 0, NULL)
INSERT [dbo].[Notes] ([NoteID], [UserID], [Title], [Content], [ParentNoteID], [CreatedAt], [UpdatedAt], [IsDeleted], [ReminderDate], [IsReminderCompleted], [ReminderNote]) VALUES (2, 1, N'Идеи по ИИ-функциям', N'Возможности: автоматическое тегирование, извлечение сущностей (даты, контакты), создание конспектов через YandexGPT.', NULL, CAST(N'2025-02-05T11:20:00.0000000' AS DateTime2), CAST(N'2026-05-14T13:31:41.6230000' AS DateTime2), 0, NULL, 0, NULL)
INSERT [dbo].[Notes] ([NoteID], [UserID], [Title], [Content], [ParentNoteID], [CreatedAt], [UpdatedAt], [IsDeleted], [ReminderDate], [IsReminderCompleted], [ReminderNote]) VALUES (3, 1, N'Заметка с вложением1', N'Пример прикреплённого PDF-файла с техническим заданием.', NULL, CAST(N'2025-02-10T16:45:00.0000000' AS DateTime2), CAST(N'2026-05-15T11:46:09.5172634' AS DateTime2), 0, CAST(N'2026-05-17T15:00:00.0000000' AS DateTime2), 0, N'Надо что-то')
SET IDENTITY_INSERT [dbo].[Notes] OFF
GO
INSERT [dbo].[NoteTags] ([NoteID], [TagID]) VALUES (8, 1)
INSERT [dbo].[NoteTags] ([NoteID], [TagID]) VALUES (16, 1)
INSERT [dbo].[NoteTags] ([NoteID], [TagID]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Reminders] ON 

INSERT [dbo].[Reminders] ([ReminderID], [NoteID], [ReminderDate], [IsCompleted], [NotifiedAt]) VALUES (1, 8, CAST(N'2025-03-10T09:00:00.0000000' AS DateTime2), 0, NULL)
INSERT [dbo].[Reminders] ([ReminderID], [NoteID], [ReminderDate], [IsCompleted], [NotifiedAt]) VALUES (2, 1, CAST(N'2025-03-15T18:00:00.0000000' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [dbo].[Reminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (76, N'[[цель]]')
INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (72, N'pdf-файла')
INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (68, N'wpf-приложение')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [Role], [IsLocked]) VALUES (1, N'alexey', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Алексей Иванов', CAST(N'2025-01-10T10:00:00.0000000' AS DateTime2), N'Admin', 0)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [Role], [IsLocked]) VALUES (2, N'maria', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Мария Петрова', CAST(N'2025-02-15T14:30:00.0000000' AS DateTime2), N'User', 0)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [CreatedAt], [Role], [IsLocked]) VALUES (3, N'ivan', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'Иванов Иван', CAST(N'2026-05-14T16:31:36.9492251' AS DateTime2), N'User', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Entities_NoteID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Entities_NoteID] ON [dbo].[Entities]
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Entities_Type]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Entities_Type] ON [dbo].[Entities]
(
	[EntityType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Files_NoteID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Files_NoteID] ON [dbo].[Files]
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Source_Target]    Script Date: 15.05.2026 18:59:54 ******/
ALTER TABLE [dbo].[Links] ADD  CONSTRAINT [UQ_Source_Target] UNIQUE NONCLUSTERED 
(
	[SourceNoteID] ASC,
	[TargetNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Links_Source]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Links_Source] ON [dbo].[Links]
(
	[SourceNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Links_Target]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Links_Target] ON [dbo].[Links]
(
	[TargetNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Title]    Script Date: 15.05.2026 18:59:54 ******/
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [UQ_User_Title] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notes_ParentNoteID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Notes_ParentNoteID] ON [dbo].[Notes]
(
	[ParentNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notes_UserID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Notes_UserID] ON [dbo].[Notes]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NoteTags_TagID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_NoteTags_TagID] ON [dbo].[NoteTags]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminders_Date]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_Date] ON [dbo].[Reminders]
(
	[ReminderDate] ASC
)
WHERE ([IsCompleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminders_NoteID]    Script Date: 15.05.2026 18:59:54 ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_NoteID] ON [dbo].[Reminders]
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tags__BDE0FD1D393846B7]    Script Date: 15.05.2026 18:59:54 ******/
ALTER TABLE [dbo].[Tags] ADD UNIQUE NONCLUSTERED 
(
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E41461C3FF]    Script Date: 15.05.2026 18:59:54 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E41461C3FF] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Files] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Links] ADD  DEFAULT ('manual') FOR [LinkType]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT ((0)) FOR [IsReminderCompleted]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__37A5467C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Entities]  WITH CHECK ADD  CONSTRAINT [FK_Entities_Note] FOREIGN KEY([NoteID])
REFERENCES [dbo].[Notes] ([NoteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entities] CHECK CONSTRAINT [FK_Entities_Note]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Note] FOREIGN KEY([NoteID])
REFERENCES [dbo].[Notes] ([NoteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Note]
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD  CONSTRAINT [FK_Links_Source] FOREIGN KEY([SourceNoteID])
REFERENCES [dbo].[Notes] ([NoteID])
GO
ALTER TABLE [dbo].[Links] CHECK CONSTRAINT [FK_Links_Source]
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD  CONSTRAINT [FK_Links_Target] FOREIGN KEY([TargetNoteID])
REFERENCES [dbo].[Notes] ([NoteID])
GO
ALTER TABLE [dbo].[Links] CHECK CONSTRAINT [FK_Links_Target]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Parent] FOREIGN KEY([ParentNoteID])
REFERENCES [dbo].[Notes] ([NoteID])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Parent]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_User]
GO
ALTER TABLE [dbo].[NoteTags]  WITH CHECK ADD  CONSTRAINT [FK_NoteTags_Note] FOREIGN KEY([NoteID])
REFERENCES [dbo].[Notes] ([NoteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NoteTags] CHECK CONSTRAINT [FK_NoteTags_Note]
GO
ALTER TABLE [dbo].[NoteTags]  WITH CHECK ADD  CONSTRAINT [FK_NoteTags_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NoteTags] CHECK CONSTRAINT [FK_NoteTags_Tag]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Note] FOREIGN KEY([NoteID])
REFERENCES [dbo].[Notes] ([NoteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Note]
GO
ALTER TABLE [dbo].[Entities]  WITH CHECK ADD CHECK  (([EntityType]='keyword' OR [EntityType]='url' OR [EntityType]='date' OR [EntityType]='phone' OR [EntityType]='email'))
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD CHECK  (([LinkType]='manual' OR [LinkType]='auto'))
GO
USE [master]
GO
